<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- 网站标题和描述 -->
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
    <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.siteMeta.description }}{{ else }}{{ .Description }}{{ end }}">
    
    <!-- 网站图标 -->
    <link rel="shortcut icon" href="{{ .Site.Params.siteMeta.favicon }}" type="image/x-icon">

    <!-- Standard favicon -->
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

    <!-- Recommended favicon format -->
    <link rel="icon" type="image/png" href="/images/favicon.png">
    
    <!-- Open Graph -->
    <meta property="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}">
    <meta property="og:description" content="{{ if .IsHome }}{{ .Site.Params.siteMeta.description }}{{ else }}{{ .Description }}{{ end }}">
    <meta property="og:type" content="{{ if .IsHome }}website{{ else }}article{{ end }}">
    <meta property="og:url" content="{{ .Permalink }}">
    
    <!-- CSS -->
    {{ $sass := resources.Get "scss/main.scss" }}
    {{ $style := $sass | resources.ToCSS | minify | resources.Fingerprint "sha256" }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    
    <!-- RSS -->
    {{ range .AlternativeOutputFormats -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    
    <!-- 自定义头部内容 -->
    {{ if .Site.Params.customHead }}
        {{ .Site.Params.customHead | safeHTML }}
    {{ end }}

    <!-- MiSans -->
    <link rel="stylesheet" crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/misans@4.1.0/lib/Normal/MiSans-Medium.min.css" /> 
    <link rel="stylesheet" crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/misans@4.1.0/lib/Normal/MiSans-Bold.min.css" />
    
    <!-- Iconfont -->
    <link rel="stylesheet" href="/css/iconfont.css">
    <link rel="stylesheet" href="/css/iconfont-patch.css">
    
    <!-- Fuse.js -->
    <script src="https://cdn.jsdelivr.net/npm/fuse.js@7.1.0"></script>

    <!-- highlight.js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css" media="(prefers-color-scheme: dark)">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github.min.css" media="(prefers-color-scheme: light)">
    <!-- fancybox -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css" />
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
</head> 