.reward {
    position: relative;
    display: flex;
    justify-content: center;
    width: max-content;
    margin: 1rem auto;
    user-select: none;
    cursor: pointer;
    .reward-btn {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 120px;
      border-radius: 8px;
      color: #fff;
      background-color: var(--main-color-red);
      transition: box-shadow 0.5s;
      .iconfont {
        color: #fff;
        font-weight: normal;
        margin-right: 6px;
      }
      &:hover {
        box-shadow: 0 0 40px 6px #ff384270;
      }
    }
  }
  .reward-card {
    .thank {
      display: inline-flex;
      justify-content: center;
      margin-bottom: 1rem;
      width: 100%;
      color: var(--main-color);
      font-weight: bold;
    }
    .qr {
      display: grid;
      gap: 1rem;
      grid-template-columns: 1fr 1fr;
      .qr-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          width: 100%;
          height: auto;
          border-radius: 16px;
          overflow: hidden;
        }
        .tip {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-top: 0.8rem;
          .iconfont {
            margin-right: 6px;
            font-size: 18px;
          }
        }
        &:hover {
          .iconfont {
            color: var(--main-color);
          }
        }
      }
    }
    .all-list {
      margin-top: 20px;
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: var(--main-card-second-background);
      .title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 8px;
        transition: color 0.3s;
      }
      .tip {
        text-align: center;
        font-size: 12px;
        opacity: 0.6;
      }
      &:hover {
        .title {
          color: var(--main-color);
        }
      }
    }
  }