<aside class="main-aside">
    {{- partial "components/aside/hello.html" . -}}
    <div class="sticky">
      {{- partial "components/aside/toc.html" . -}}
      {{- partial "components/aside/countdown.html" . -}}
      {{- partial "components/aside/tags.html" (dict "context" .) -}}
      {{- partial "components/aside/calendar.html" (dict "context" .) -}}
      {{- partial "components/aside/site-data.html" . -}}
    </div>
  </aside>
  <style>
  .main-aside {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    animation: fade-up 0.6s 0.3s backwards;
    .weidgets {
      padding: 18px;
      margin-bottom: 1rem;
      :deep(.title) {
        margin-bottom: 12px;
        font-weight: bold;
        display: flex;
        align-items: center;
        opacity: 0.75;
        .iconfont {
          opacity: 0.6;
          margin-right: 6px;
        }
        .title-name {
          opacity: 0.8;
        }
      }
    }
    .sticky {
      position: sticky;
      top: calc(60px + 1rem);
      .weidgets {
        animation: fade-up 0.6s 0.4s backwards;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  </style>
  