{{ $id := .id }}
{{ $title := .title }}
{{ $titleIcon := .titleIcon }}
{{ $showClose := .showClose }}
{{ $maxWidth := .maxWidth | default 800 }}
{{ $maxHeight := .maxHeight | default 80 }}
{{ $content := .content }}

<div class="modal" id="{{ $id }}">
    <div class="modal-mask"></div>
    <div class="modal-main s-card" style="max-width: {{ $maxWidth }}px;">
        <!-- 标题 -->
        {{ if $title }}
        <div class="title">
            <div class="title-left">
                {{ if $titleIcon }}
                <i class="iconfont icon-{{ $titleIcon }}"></i>
                {{ end }}
                <span class="title-text">{{ $title }}</span>
            </div>
            <!-- 关闭按钮 -->
            {{ if $showClose }}
            <i class="iconfont icon-close close" id="modal-close"></i>
            {{ end }}
        </div>
        {{ end }}
        <!-- 弹窗内容 -->
        <div class="modal-content" style="--height: {{ $maxHeight }}vh">
            {{ if $content }}
                {{ partial $content . }}
            {{ end }}
        </div>
    </div>
</div>
