.page-banner {
    position: relative;
    width: 100%;
    min-height: auto;
    padding: 3rem 2rem;
    margin-bottom: 2rem;
    background-color: transparent;
    border-radius: 12px;
    border: 1px solid var(--main-card-border);
}

.page-banner .banner-content {
    max-width: 1200px;
    margin: 0 auto;
}

.page-banner .title {
    font-size: 2rem;
    margin: 0 0 1rem 0;
    text-align: center
}

.page-banner .desc {
    color: var(--main-font-second-color);
    margin: 0;
    text-align: center
}