<div class="search-modal">
    <!-- 搜索输入框 -->
    <div class="search-input">
        <input type="text" id="search-input" placeholder="今天你想搜点什么？" autocomplete="off">
    </div>

    <!-- 搜索结果 -->
    <div class="search-results">
        <div class="search-list"></div>
        <div class="search-empty">
            <i class="iconfont icon-search"></i>
            <p>输入关键字，开始搜索</p>
        </div>
    </div>
    
    <!-- 搜索耗时 -->
    <div class="search-hint">
        <span class="text" id="search-hint-text"></span>
        <span class="text">
            <a class="powered_by" href="https://www.fusejs.io/" target="_blank">Fuse.js</a>
        </span>
    </div>
</div>
