{{ $posts := where .Site.RegularPages "Section" "posts" }}
{{ $firstPost := index ($posts.ByDate) 0 }}
{{ $days := div (sub now.Unix $firstPost.Date.Unix) 86400 }}
{{ $statistics := dict
  "posts" (len $posts)
  "days" $days
  "pv" 0
  "uv" 0
}}

<div class="site-data s-card weidgets">
    <div class="title">
      <i class="iconfont icon-chart"></i>
      <span class="title-name">站点数据</span>
    </div>
    <div class="all-data">
      <div class="data-item">
        <span class="name">
          <i class="iconfont icon-article"></i>
          文章总数
        </span>
        <span class="num">{{ $statistics.posts }} 篇</span>
      </div>
      <div class="data-item">
        <span class="name">
          <i class="iconfont icon-date"></i>
          建站天数
        </span>
        <span class="num">{{ $statistics.days }} 天</span>
      </div>
      <div class="data-item">
        <span class="name">
          <i class="iconfont icon-visibility"></i>
          总访问量
        </span>
        <span class="num" id="busuanzi_value_site_pv">0</span>
      </div>
      <div class="data-item">
        <span class="name">
          <i class="iconfont icon-account"></i>
          总访客数
        </span>
        <span class="num" id="busuanzi_value_site_uv">0</span>
      </div>
    </div>
  </div>