@font-face {
  font-family: "Site Title";
  src: url("/fonts/site-title.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Emoji";
  src: url("/fonts/emoji.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// 字体优先级
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
  "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  "Noto Color Emoji", "Emoji"; 