{{ $linkUrl := (.Get "href") }}
{{ $linkTitle := (.Get "title") }}
{{ $linkDesc := (.Get "desc") }}
{{ $linkCover := (.Get "cover") }}

<div>
    <a target="_blank"
        href="{{ $linkUrl }}" data-draft-node="block"
        class="LinkCard new css-1wr1m8">
        <span class="LinkCard-contents">
            <span class="LinkCard-title two-line" title="{{ $linkTitle }}">{{ $linkTitle }}</span>
            <span class="LinkCard-desc">
                <span style="display: inline-flex; align-items: center;">​
                    <svg width="14" height="14" viewBox="0 0 24 24" class="Zi Zi--InsertLink" fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M5.327 18.883a3.005 3.005 0 0 1 0-4.25l2.608-2.607a.75.75 0 1 0-1.06-1.06l-2.608 2.607a4.505 4.505 0 0 0 6.37 6.37l2.608-2.607a.75.75 0 0 0-1.06-1.06l-2.608 2.607a3.005 3.005 0 0 1-4.25 0Zm5.428-11.799a.75.75 0 0 0 1.06 1.06L14.48 5.48a3.005 3.005 0 0 1 4.25 4.25l-2.665 2.665a.75.75 0 0 0 1.061 1.06l2.665-2.664a4.505 4.505 0 0 0-6.371-6.372l-2.665 2.665Zm5.323 2.117a.75.75 0 1 0-1.06-1.06l-7.072 7.07a.75.75 0 0 0 1.061 1.06l7.071-7.07Z"
                            clip-rule="evenodd">
                        </path>
                    </svg>
                </span>
                {{ $linkDesc }}
            </span>
        </span>
        {{ if .Get "cover"}}
        <span class="LinkCard-image" style="height: 60px;">
            <img src="{{ $linkCover }}" alt="{{ $linkTitle }}">
        </span>
        {{ end }}
    </a>
</div>